body {
  position: relative;
  margin: 0;
  height: 100vh;
}

nav {
  height: 50px;
  background-color: #3263a8;
  display: flex;
  align-items: center;
}

h1 {
  font-family: 'Eczar', serif;
}

h3 {
  color: white;
  font-weight: 300;
}

#left-nav {
  display: flex;
  flex-direction: row;
}

#left-nav h1:first-child {
  margin-left: 20px;
  font-size: 24px;
  font-weight: 300;
  color: #ba7821;
}

#left-nav h1:last-child {
  margin-left: 8px;
  font-size: 24px;
  font-weight: 700;
  color: white;
}

#profile {
  display: none;
}

#heading {
  display: block;
}

#container {
  display: flex;
  flex-direction: row;
}

#container > * {
  display: inline-block;
}

#details {
  background-color: white;
}

#details * {
  font-size: 16px;
  color: red;
}

#map {
  height: calc(100vh - 50px);
}

#filter-header {
  text-align: center;
  color: white;
  font-size: 20px;
  line-height: 30px;
}

#filter-form {
  height: 360px;
  width: 200px;
  background-color: rgb(19, 49, 96, 0.6);
  position: fixed;
  top: 120px;
  left: 20px;
  border-radius: 10px;
}

#filter-form * {
  margin: 5px 0;
}

#filter-form label {
  color: white;
}

#filter-form input {
  border-radius: 5px;
}

#filter-form label:first-child {
  text-align: center;
  margin-left: calc(50% - 47px);
  font-size: 18px;
  line-height: 24px;
}

#form-container {
  margin: 0 10px;
}

#form-container label {
  font-size: 18px;
  font-weight: 300;
}

#sev-label {
  margin: 0;
}

#nav-wrapper {
  display: flex;
  justify-content: space-between;
}

#info-icon {
  height: 25px;
  width: 25px;
  margin-right: 50px;
  color: white;
}

#info-modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(61, 92, 142, 0.8);
  z-index: 9;
  display: flex;
  justify-content: center;
}
#info {
  height: 575px;
  width: 90vw;
  background-color: rgb(196, 196, 196, 0.8);
  margin: 50px;
  border-radius: 5px;
}

#info > h1 {
  font-size: 24px;
  margin-left: calc(50% - 80px);
  line-height: 48px;
  margin-top: 30px;
}

#info > h3 {
  font-size: 18px;
  margin-left: calc(50% - 70px);
  line-height: 24px;

  margin-bottom: 20px;
}

#info-desc {
  margin: 10px 40px;
  line-height: 20px;
}

#info-text {
  margin: 10px 40px;
  line-height: 20px;
}

#info-filters {
  margin: 10px 40px 20px 40px;
}

#filter-desc {
  margin-left: 10px;
  margin-top: 10px;
}

#info-contact {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 20px;
}

#social-icon {
  height: 40px;
  width: 40px;
}

#exit {
  margin-left: calc(45vw - 125px);
  margin-bottom: 20px;
}

#slider {
  width: 140px;
}

#slider1 {
  width: 140px;
}

#time-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#date-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sliderValue {
  width: 90%;
  text-align: center;
}

.sliderValue1 {
  width: 90%;
  text-align: center;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

#slider {
  margin-right: -20px;
}

#info-desc {
  display: flex;
  flex-direction: row;
}

#slider-wrapper span {
  top: -10px;
}

.sliderValue {
  padding: 5px 0;
}

.sliderValue1 {
  padding: 5px 0;
}

.styled-select {
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
  height: 29px;
  overflow: hidden;
  border: 1px solid #8e8e8e;
}

.styled-select select {
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 5px; /* If you add too much padding here, the options won't show in IE */
}

.styled-select.slate {
  background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
  height: 34px;
  width: 240px;
}

#filter-input {
  width: 100%;
  background-color: white;
  padding-left: 10px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

#info-header {
  color: black;
}
